*{
  padding: 0;
  margin: 0;
}
body{
  background-color: lightgrey;
  font-family: "Roboto";
}
.header{
  margin: 0;
  background: #cf2b2b;
  color: white;
  padding: 10px;
  box-shadow: 0 0 10px 0 #bbbbbb;
  text-align: center;
}
.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.produto {
  box-shadow: 0 0 10px 0 #bbbbbb;
  cursor: pointer;
  border: 5px solid white;
  height: 300px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
  max-width: 200px;
  text-align: center;

}

h1{
  margin: 0;
  font-family: "Righteous";
  font-weight: normal;
}
h2{
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
h3{
  font-size: 30px;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Righteous";
  font-weight: normal;
}
h4{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
img{
  width: 100%;
  border-radius: 5px;
}
.preco {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}
.botao {
  background: #0b940b;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin-right:auto ;
  margin-left: auto;
}