body{
  background-color: lightgrey;
}
.header{
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.produto {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
}

h1{
  margin: 0;
}
h2{
  margin: 0;
  font-size: 18px;
}
h3{
  font-size: 30px;
  margin-bottom: 5px;
}
h4{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
img{
  width: 130px;
  border-radius: 5px;
}